@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100..900;1,100..900&display=swap');

* {
  /* font-family: monospace; */
  font-family: 'Poppins', sans-serif;
}

@theme {
  --color-primary: #0078FF;
  --color-secondary: #7CB342;
  --color-dark: #1E3A5F;
  --color-light: #E8F0F8;
  --color-accent: #FFD54F;
  --color-accent-alt: #4FC3F7;
}

html {
  scroll-behavior: smooth;
}